/* ---- General Layout ---- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: auto;
}

h1, h2, h3, p, li {
  text-align: center;
}

p {
  font-size: 1.25em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: 2.5em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* ---- Header ---- */
header {
  background-color: #f8f8f8;
  padding: 1.25em .625em 1em;
}

h1 {
  margin-top: .625em;
  margin-bottom: 1.25em;
}

li {
  background-color: #fff;
  margin-bottom: .5em;
}

nav a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding: .625em .9375em;
  font-size: 1.20em;
}

header img {
  width: 250px;
  height: 153px;
  margin-top: 3.125em;
  margin-bottom: 1.875em;
}

/* ---- Portfolio ---- */
.portfolio {
  padding: 1em 1em;
}

h2 {
  text-transform: uppercase;
  padding-top: 1.5em;
  padding-bottom: 2em;
  font-size: 1.2em;
  font-weight: 900;
}

h3 {
  font-size: 1.5em;
  padding-top: 1.25em;
  padding-bottom: .75em;
  font-weight: 500;
}

/* ---- Footer ---- */
.footer-section {
  background-color: #f8f8f8;
  padding: 1em 1em;
}

.phone {
  padding-bottom: .75em;
}

.phone-number,
.email {
  font-weight: 700;
  padding-left: .5em;
}

footer {
  border-top: 1px solid #808080;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.footer-nav {
  display: none;
}

.name,
.top {
  font-size: 1em;
  font-weight: 900;
}

.top a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  display: block;
}

.name {
  float: left;
}

.top {
  float: right;
}


/* ---- Media Queries ---- */
@media only screen and (min-width: 768px) {

  /* ---- General Layout 768px ---- */
  header,
  .portfolio,
  .footer-section {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* ---- Header 768px---- */
  h1 {
    margin-bottom: .625em;
  }

  nav li {
    display: inline-block;
    background-color: #f8f8f8;
  }

  nav ul {
    text-align: center;
  }

  .intro {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  header figure {
    float: right;
  }

  header p {
    float: left;
    width: 60%;
    text-align: left;
  }

  header img {
    margin: 0;
  }

  /* ---- Portfolio 768px---- */
  .portfolio section {
    padding: .5em;
  }

  .portfolio p {
    font-size: 1em;
  }

  h3 {
    padding-top: 1em;
    padding-bottom: .5em;
  }

  .med-right {
    float: right;
    width: 50%;
  }

  .med-left {
    float: left;
    width: 50%;
  }

  /* ---- Footer 768px---- */
  .footer-section p {
    width: 70%;
    margin: auto;
  }

  .top {
    display: none;
  }

  .footer-nav {
    display: inline;
    float: right;
  }

  .footer-nav a {
    font-size: 1em;
    font-weight: 900;
    padding-top: 0;
  }

}

@media only screen and (min-width: 1024px) {

  /* ---- General Layout 1024px ---- */
  body {
    max-width: 1200px;
    margin: auto;
  }

  .wrapper {
    background-color: #f8f8f8;
  }

  header,
  .footer-section {
    width: 95%;
    margin: auto;
  }

  /* ---- Header 1024px---- */
  header h1 {
    float: left;
    padding-left: .3125em;
  }

  nav {
    float: right;
    margin-top: 1.25em;
  }

  nav a {
    padding-right: 0;
    padding-left: 1.5em;
  }

  header img {
    width: 367px;
    height: 250px;
  }

  /* ---- Portfolio 1024px---- */
  .portfolio {
    background-color: #fff;
    width: 95%;
    margin: auto;
  }

  .lg-left {
    float: left;
    width: 33%;
  }

  .lg-right {
    float: right;
    width: 33%;
  }

  /* ---- Footer 1024px ---- */
  .footer-section p {
    width: 70%;
    margin: auto;
  }

  .footer-nav {
    margin-top: 0;
  }
}

/* ---- Float clearfix ---- */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
